.home 
{
    position: left;
    left: 40%;
    display: block;
}
.nav.navbar-nav.navbar-right li a,.nav.navbar-nav.navbar-left li a{
   color: white;
   font-weight: bold;
  
}
.navbar
{
    background-color: black;
    border: none;
}

.container-fluid
{
    padding: 10px 10px 10px 10px; 
}

section
{
    padding: 80px;
}



.parallax {
    /* The image used */
    background-image: url('/src/images/videoimage1.jpg');

   /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('/src/images/videoimage2.jpg');

   /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image: url('/src/images/Thanks.jpg');

   /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
